/**
 * Created by 费玥 on 2016/12/9.
 */
.ts{
    height: 100%;
}
.grid{
     height: 100%;
 }
.column{
    margin: auto;
    max-width: 450px;
    max-height: 640px;
    vertical-align: middle;
    padding: 0 10%;
}
.ui.secondary.pointing.menu{
    border-bottom: none;
}

.ui.container .item.login-item{
     position: absolute;
     left: 35%;
}
.ui.container .item.reg-item{
    position: absolute;
    right: 35%;
}

.ui.secondary.menu{
    max-height:40px;
}
.approve{
    padding: 0.78571429em 0.92857143em;
    color: #aebdc9;
    margin: 0 auto;
}
.v-code{
  position: absolute;
  top: 10px;
  width: 150px;
  right: 3px;
}

.a-loss-pw{
    padding: 0.78571429em 0.92857143em;
}
.ui.basic.red.pointing.prompt.label{
    margin-right: 324px;
    width: 170px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
