.ui.mini.stackable.borderless.menu{
  background: #FFD700;
}

/*@media only screen and (min-width: 768px) {
  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left:none !important;
  }
}*/

#profile-menu{
    background: #FFD700;
    margin-top: -0.1px;
}
